### Задание 1

In [12]:
data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35]
]

In [18]:
def arr_sum(arr):
    sum = 0
    ind = 0
    for i in data:
        sum += data[ind][ind]
        ind += 1
    return sum

In [19]:
arr_sum(data)

103

### Задание 2

In [20]:
data = [1, '5', 'abc', 20, '2']

In [34]:
def sqr_arr (arr):
    sum = 0
    for i in arr:
        try:
            sum += (int(i)**2)
        except:
            pass
    return sum

In [35]:
sqr_arr(data)

430

### Задание 3

In [1]:
def fib_sum(n):
    a = 0
    b = 1
    sum = a + b
    if (n == 0 or n ==1):
        return 0
    elif ( n == 2):
        return 1
    else :
        for i in range(n - 2):
            c = a + b
            a = b
            b = c
            sum += c
    return sum

In [5]:
fib_sum(3)

2

### Задание 4

In [45]:
students_list = [
{'name': 'Василий', 'surname': 'Теркин', 'sex': 'м', 'program_exp': True, 'grade': [8, 8, 9, 10, 9], 'exam': 9},
{'name': 'Мария', 'surname': 'Павлова', 'sex': 'ж', 'program_exp': True, 'grade': [7, 8, 9, 7, 9], 'exam': 8},
{'name': 'Ирина', 'surname': 'Андреева', 'sex': 'ж', 'program_exp': True, 'grade': [10, 9, 8, 10, 10], 'exam': 10},
{'name': 'Татьяна', 'surname': 'Сидорова', 'sex': 'ж', 'program_exp': True, 'grade': [7, 8, 8, 9, 8], 'exam': 8},
{'name': 'Иван', 'surname': 'Васильев', 'sex': 'ж', 'program_exp': True, 'grade': [9, 8, 9, 6, 9], 'exam': 10},
{'name': 'Роман', 'surname': 'Золотарев', 'sex': 'ж', 'program_exp': False, 'grade': [8, 9, 9, 6, 9], 'exam': 10}
]

In [58]:
def comand_one(stud):
    a = len(students_list)
    sum_dz = 0
    count = 0
    sum_ex = 0
    for i in students_list:
        for j in i['grade']:
            sum_dz += j
            count += 1
        sum_ex += i['exam']
    print('Средняя оценка за все ДЗ', round(sum_dz / count, 2))
    print('Средняя оценка за экзамен', round(sum_ex / a, 2))

In [59]:
comand_one(students_list)

Средняя оценка за все ДЗ 8.43
Средняя оценка за экзамен 9.17

In [65]:
def comand_two(stud):
    sum_dz_m = 0
    count_m = 0
    sum_ex_m = 0
    count_ex_m = 0
    sum_dz_w = 0
    count_w = 0
    sum_ex_w = 0
    count_ex_w = 0
    for i in students_list:
        if (i['sex'] == 'м'):
            for j in i['grade']:
                sum_dz_m += j
                count_m += 1
            sum_ex_m += i['exam']
            count_ex_m += 1
        else:
            for j in i['grade']:
                sum_dz_w += j
                count_w += 1
            sum_ex_w += i['exam']
            count_ex_w += 1
    print('Для студентов мужского пола средняя оценка за все ДЗ', round(sum_dz_m / count_m, 2),
          ', cредняя оценка за экзамен', round(sum_ex_m / count_ex_m, 2))
    print('Для студентов женского пола средняя оценка за все ДЗ', round(sum_dz_w / count_w, 2),
         ', cредняя оценка за экзамен', round(sum_ex_w / count_ex_w, 2))

In [68]:
comand_two(students_list)

Для студентов мужского пола средняя оценка за все ДЗ 8.8 , cредняя оценка за экзамен 9.0
Для студентов женского пола средняя оценка за все ДЗ 8.36 , cредняя оценка за экзамен 9.2

In [70]:
def comand_three(stud):
    sum_dz_tr = 0
    count_tr = 0
    sum_ex_tr = 0
    count_ex_tr = 0
    sum_dz_f = 0
    count_f = 0
    sum_ex_f = 0
    count_ex_f = 0
    for i in students_list:
        if (i['program_exp'] == True):
            for j in i['grade']:
                sum_dz_tr += j
                count_tr += 1
            sum_ex_tr += i['exam']
            count_ex_tr += 1
        else:
            for j in i['grade']:
                sum_dz_f += j
                count_f += 1
            sum_ex_f += i['exam']
            count_ex_f += 1
    print('Для студентов с пытом программирования средняя оценка за все ДЗ', round(sum_dz_tr / count_tr, 2),
          ', cредняя оценка за экзамен',round(sum_ex_tr / count_ex_tr, 2))
    print('Для студентов без опыта средняя оценка за все ДЗ', round(sum_dz_f / count_f, 2),
         ', cредняя оценка за экзамен', round(sum_ex_f / count_ex_f, 2))

In [71]:
comand_three(students_list)

Для студентов с пытом программирования средняя оценка за все ДЗ 8.48 , cредняя оценка за экзамен 9.0
Для студентов без опыта средняя оценка за все ДЗ 8.2 , cредняя оценка за экзамен 10.0

In [76]:
def top_com ():
    com = int(input('Введите номер команды :'))
    if (com == 1):
        comand_one(students_list)
    elif (com == 2):
        comand_two(students_list)
    elif (com == 3):
        comand_three(students_list)

In [77]:
top_com()

Введите номер команды :3
Для студентов с пытом программирования средняя оценка за все ДЗ 8.48 , cредняя оценка за экзамен 9.0
Для студентов без опыта средняя оценка за все ДЗ 8.2 , cредняя оценка за экзамен 10.0