In [125]:
import pandas as pd
import numpy as np
import re

### Задание 1

In [5]:
rate = pd.read_csv('C:/Users/akravchenko/Desktop/dataset/Python_7_pandas_functions_groupby/Python_7_pandas_functions_groupby/ml-latest-small/ratings.csv')

In [28]:
rate = rate[['movieId','rating']].groupby(['movieId']).mean().reset_index()

In [32]:
film = pd.read_csv('C:/Users/akravchenko/Desktop/dataset/Python_7_pandas_functions_groupby/Python_7_pandas_functions_groupby/ml-latest-small/movies.csv')

In [34]:
stat = pd.merge(rate,film, on='movieId')

In [36]:
def film_rate(x):
    if x <= 2:
        return 'низкий рейтинг'
    if x <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [44]:
stat['class'] = stat['rating'].apply(film_rate)

In [46]:
stat.head(10)

,movieId,rating,title,genres,class
0,1,3.872470,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,2,3.401869,Jumanji (1995),Adventure|Children|Fantasy,средний рейтинг
2,3,3.161017,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
3,4,2.384615,Waiting to Exhale (1995),Comedy|Drama|Romance,средний рейтинг
4,5,3.267857,Father of the Bride Part II (1995),Comedy,средний рейтинг
5,6,3.884615,Heat (1995),Action|Crime|Thriller,средний рейтинг
6,7,3.283019,Sabrina (1995),Comedy|Romance,средний рейтинг
7,8,3.800000,Tom and Huck (1995),Adventure|Children,средний рейтинг
8,9,3.150000,Sudden Death (1995),Action,средний рейтинг
9,10,3.450820,GoldenEye (1995),Action|Adventure|Thriller,средний рейтинг

### Задание 2

In [51]:
req = pd.read_csv('C:/Users/akravchenko/Desktop/dataset/keywords.csv')

In [69]:
req.head(1)

  keyword     shows
0      вк  64292779

In [68]:
def reg(x):
    for i in x.split(sep = ' '):
        if i.lower() in ['москва', 'тула', 'ярославль']:
            return 'Центр'
        if i.lower() in ['петербург', 'псков', 'мурманск']:
            return 'Северо-Запад'
        if i.lower() in ['владивосток', 'сахалин', 'хабаровск']:
            return 'Дальний Восток'
        else:
            return 'undefined'

In [88]:
req['region'] = req['keyword'].apply(reg)

In [91]:
req.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

### Задание 3

In [143]:
rate2 = pd.read_csv('C:/Users/akravchenko/Desktop/dataset/Python_7_pandas_functions_groupby/Python_7_pandas_functions_groupby/ml-latest-small/ratings.csv')

In [144]:
film2 = pd.read_csv('C:/Users/akravchenko/Desktop/dataset/Python_7_pandas_functions_groupby/Python_7_pandas_functions_groupby/ml-latest-small/movies.csv')

In [145]:
all_movie = pd.merge(rate2,film2, on='movieId')

In [207]:
all_movie.head(5)

   userId  movieId  rating   timestamp                   title genres  year
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama  1995
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama  1995
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama  1995
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama  1995
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama  1995

In [149]:
years = np.arange(1950,2011,1)

In [209]:
def production_year(x):
    for i in years:
        if x.find(str(i)) != -1:
            return i
    return 1900

In [210]:
all_movie['year'] = all_movie['title'].apply(production_year)

In [211]:
all_movie.sort_values(['year'],ascending = False).head(5)

,userId,movieId,rating,timestamp,title,genres,year
66242,157,79702,4.5,1295749318,Scott Pilgrim vs. the World (2010),Action|Comedy|Fantasy|Musical|Romance,2010
96889,382,79824,5.0,1371767056,Babies (Bébé(s)) (2010),Documentary,2010
66411,624,81845,4.5,1328370855,"King's Speech, The (2010)",Drama,2010
66412,15,81847,1.0,1338698918,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...,2010
66413,48,81847,3.5,1318796556,Tangled (2010),Animation|Children|Comedy|Fantasy|Musical|Roma...,2010

In [206]:
all_movie.groupby(['year']).mean().sort_values(['rating'],ascending = False)['rating']

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
1974    3.978704
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
1959    3.841033
1958    3.823171
1975    3.823077
1969    3.817376
1967    3.814516
1960    3.809211
1976    3.806794
1973    3.806667
1979    3.777966
1981    3.758763
1953    3.754587
1955    3.751724
1971    3.748830
1968    3.737844
1966    3.736726
1980    3.708816
1963    3.705966
1970    3.700000
1965    3.678715
1961    3.663851
          ...
1982    3.638306
1991    3.628265
1956    3.617647
1987    3.606015
1900    3.602960
1985    3.588998
1988    3.552990
1978    3.549003
2007    3.548538
1994    3.537963
2010    3.537157
1993    3.536664
1989    3.534349
1986    3.528265
2009    3.520378
2006    3.511478
2008    3.498057
2004    3.491490
1998    3.472754
1995    3.472118
1999    3.471692
1992    3.466754
2001    3.460052
2002    3.456297
1990    3.449169
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64