In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

# Создаем искуственный датасет

In [15]:
samples = 1000 # количество записей

dev_cost = np.random.choice(100000,samples)+100000 # затраты на разработку по
pr_cost = np.random.choice(50000,samples)+25000 # затраты на PR
administrative_cost = np.random.choice(30000,samples)+10000 # затраты административные
other_cost = np.random.choice(30000,samples) # затраты на коммандировки
med_temp = np.random.choice(60,samples)-30 # средня температура в месяце
med_age = np.random.choice(72,samples)+18 #среднпий возраст покупателя

price = (dev_cost+pr_cost+administrative_cost)/0.75 #целевая метка- цена на ПО

data = pd.DataFrame({'dev_cost': dev_cost, 'pr_cost': pr_cost,'administrative_cost':administrative_cost, 'other_cost':other_cost, 'med_temp': med_temp, 'med_age': med_age, 'price':price})

In [16]:
data.head()

,dev_cost,pr_cost,administrative_cost,other_cost,med_temp,med_age,price
0,158741,39227,34747,19922,11,66,310286.666667
1,159529,74643,30335,29181,-25,18,352676.000000
2,191911,26127,12181,28916,4,37,306958.666667
3,176195,27096,25572,22089,14,58,305150.666667
4,158104,64297,37487,22883,28,51,346517.333333

# Строим модель линейной регрессии на основе всех переменных

In [18]:
x = data[['dev_cost','pr_cost','administrative_cost', 'other_cost','med_temp','med_age']]
y = data[['price']]

reg = LinearRegression().fit(x, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['dev_cost','pr_cost','administrative_cost', 'other_cost','med_temp','med_age']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [[ 1.33333333e+00  1.33333333e+00  1.33333333e+00  7.78386040e-17
  -5.43921230e-14 -2.60465526e-14]]
Bias: [-1.16415322e-10]
Error: 5.998299457132816e-11

### Ошибка модели достаточно мала. Теоретически можно принять модель в работу.

# Пробуем улучшить качество модели, для этого создадим новый признак и обучаем модель на основе этого признака.

In [19]:
data['total_cost'] = data['dev_cost']+data['pr_cost']+data['administrative_cost']

In [20]:
data.head()

,dev_cost,pr_cost,administrative_cost,other_cost,med_temp,med_age,price,total_cost
0,158741,39227,34747,19922,11,66,310286.666667,232715
1,159529,74643,30335,29181,-25,18,352676.000000,264507
2,191911,26127,12181,28916,4,37,306958.666667,230219
3,176195,27096,25572,22089,14,58,305150.666667,228863
4,158104,64297,37487,22883,28,51,346517.333333,259888

### Предполагаем , что цена на ПО не зависит от средней температуры и возраста покупателей и затрат на коммандировки.

In [21]:
x2 = data[['total_cost']]
y2 = data[['price']]

reg = LinearRegression().fit(x2, y2)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['total_cost']])
print('Error: {}'.format(mean_absolute_error(pred_values, y2)))

Weights: [[1.33333333]]
Bias: [-1.16415322e-10]
Error: 3.338209353387356e-11

### ошибку удалось уменьшить с 5.998299457132816e-11 до 3.338209353387356e-11 что говорит о том, что нам удалось улучшить модель.